.rodape{
    background-color: var(--azul-escuro);
    height: 8vh;
    text-align: center;
    padding: 1.5em 0;
}

.rodape__texto{
    font-weight: 400;
    font-family: var(--fonte__titulo);
    color: var(--branco);
}

@media (min-width:450px) and (max-width:727px){
    .rodape{
        padding:1em 0;
    }
}

@media (min-width:1025px){
    .rodape{
        padding:1em 0;
    }
}