.rodape{
    background-color: var(--azul-escuro);
    height: 8vh;
    text-align: center;
    padding: 1.5em 0;
}

.rodape__texto{
    font-weight: 400;
    font-family: var(--fonte__titulo);
    color: var(--branco);
}

@media (min-width:320px) and (max-width:400px){
    .rodape__texto{
        font-size: 15px;
    }
}