.cabecalho{
    background-color: var(--azul-escuro);
    height: 10vh;
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content: center;
}

.foto__cabecalho{
    width: 10em;
    height: 10em;
    margin-top: 1em;
}

.cabecalho_lista{
    display: flex;
    margin-right: auto;
    flex: 1;
}

.cabecalho__texto{
    font-weight: 500;
    font-family: var(--fonte__titulo);
    color: var(--branco);
    margin-left: 1em;
}

.cabecalho__opcao {
    margin-right: 20px;
}

.dropdown{
    margin-right: auto;  
}

.logo__container{
    flex: 1;
    display: flex;
    justify-content: center;
}

.logo__container-pag {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; 
    margin-left: 4em;
}

.espaco-vazio {
    flex: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:var(--azul-escuro);
    width: 40vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
    border-radius: 2%;
    color: var(--branco);
}

.dropdown-content a {
    font-family: var(--fonte__titulo);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color:var(--azul-escuro);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color:var(--azul-escuro);
}

.bi{
    font-size: 30px;
    cursor: pointer;
    color: var(--branco);
}

@media (min-width:450px) and (max-width:727px){
    .foto__cabecalho{
        width: 12em ;
        height: 12em;
    }
    .dropdown-content{
        width: 40vw;
    }

    .cabecalho{
        padding: 1em;
    }
}

@media (min-width:728px) and (max-width:1024px){
    .cabecalho{
        height: 15vh;
        padding: 1em;
    }

    .foto__cabecalho{
        width: 12em;
        height: 12em;
    }

}


@media (min-width:1025px){

    .foto__cabecalho{
        width: 20em ;
        height: 20em;
    }

    .cabecalho{
        height: 15vh;
        padding: 2em;
    }

    .bi{
        font-size: 40px;
    }
    
    .dropdown-content{
        font-size: 20px;
    }
    .cabecalho__opcao{
        font-size:20px;
    }
}
