
.projetos__body{
    background-color: var(--azul-claro);
    
}
.projetos{
    height: 125vh;
}

.projetos__lista {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 2em;
}

.projetos__lista__item {
    width: 50%; 
    box-sizing: border-box;
    padding: 0.5em;
    margin-top:3em;
    text-align: center;
    cursor: pointer;
    font-family: var(--fonte__titulo);
}

.projetos__lista__item:nth-child(13) {
    width: 100%;
    text-align: center;
}

.projetos__texto{
    font-family: var(--fonte__titulo);
    font-weight: 400;
    font-size: 20px;
    color: var(--branco);
}

.projetos__texto:hover{
    color: var(--ciano);
}

@media (min-width:320px) and (max-width:400px){
    .projetos__texto{
    font-size: 15px;
    }

    .projetos__lista{
        padding: 2em 0 0 0 ;
    }

    .projetos__lista__item:nth-child(n+3):nth-child(-n+13){
        margin-top: 3em;
    }

}

@media (min-width:401px) and (max-width:727px){
    .projetos{
        height: 160vh;
    }
}

@media (min-width:728px) and (max-width:1024px){
    .projetos{
        height: 150vh;
    }
    .projetos__lista__item:nth-child(n+3):nth-child(-n+13){
        margin-top: 4em;
    }
}

@media(min-width:1025px){
    .projetos{
        height: 180vh;
    }
    .projetos__lista__item:nth-child(n+3):nth-child(-n+13){
        margin-top: 5em;
    }

    .projetos__texto{
        font-size: 25px;
    }
}