* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.botao{
    padding: 0.5em;
    border-radius: 5px;
    font-size: 0.7em;
    margin-left: 0.5em;
    box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.4);;
}

.tecnologia{
    background-color:var(--tecnologia);
}

.fisica{
    background-color: var(--fisica);
}

.matematica{
    background-color: var(--matematica);
}

.biologia{
    background-color: var(--biologia);
}

.quimica{
    background-color: var(--quimica);
}


.trabalho {
    background-color: var(--azul-claro);
    display: flex;
    flex-direction: column;
}

.videottk {
    flex: 1;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resumo {
    flex: 1;
    height: 150vh;
    padding: 2em;
}

.paragrafo{
    text-align: justify;
    font-family: var(--fonte-principal);
    color: var(--branco);
    margin-top: 2em;
    line-height: 1.5em;
}

.saiba__mais{
    color: var(--ciano);
}
.integrantes {
    flex: 1;
    height: 100vh;
}

.lista__areas {
    display: flex;
    justify-content: left;
    padding: 1em 0;
}

.foto__grupo{
    height: 15em;
    width: 15em;
    margin-top: 2em;
    border-radius: 5%;
    box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.5);
}

.foto__grupo{
    height: 15em;
    width: 15em;
    margin-top: 2em;
    border-radius: 5%;
    box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.5);
}

.legenda__foto{
    font-family: var(--fonte-principal);
    font-size: 0.8em;
    color: var(--branco);
    margin: 1em 0;
}

footer {
    background-color: var(--verde1);
    color: var(--branco);
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

@media (min-width:450px) and (max-width:727px){
    .botao{
        padding: 0.5em;
        font-size: 1em;
    }   
}

@media (min-width:728px) and (max-width:1024px){
    .resumo{
        padding: 5em;
    }

    .paragrafo{
        font-size: 1.3em;
    }

    .botao{
        padding: 0.5em;
        font-size: 1em;
    }

    .foto__grupo{
        height: 20em;
        width: 20em;
    }

    .legenda__foto{
        font-size: 1em;
    }

}

@media (min-width:1025px){
    .resumo{
        padding: 6em 10em ;
    }

    .paragrafo{
        font-size: 1.7em;
    }

    .botao{
        padding: 1em;
        font-size: 1em;
    }

    .foto__grupo{
        height: 25em;
        width: 35em;
    }

    .legenda__foto{
        font-size: 1em;
    }
}

